@model IEnumerable<mvcPet.Entities.Servicios>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Nuevo servicio", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FechaDesde)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FechaHasta)
        </td>

        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</li>
                    <li>@Html.ActionLink("Borrar", "Delete", new { id = item.Id })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
